.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsContainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsContainer h2{
    width: fit-content;
}